/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.ui-layout-west {
    background-color: #333;
}

.ui-layout-north {
    padding-top:27px;
}

#content .span4:nth-child(3n + 1), .new-row {
    margin-left: 0;
}

.workspace-area {
    box-sizing: border-box;
    border: solid 2px #333;
    border-radius: 8px;
    margin-bottom: 10px;
    background: #FFF;
}

.dock .workspace-area {
    border: solid 2px #5E5EFF;
}

.dock .workspace-area h3 {
    background: #5E5EFF
}
.workspace-area h3 {
    padding: 0 5px;
    text-align: center;
    color: #FFF;
    background: #333;
    margin: 0;
}

.unit-container {
    min-height: 75px;
}

.unit-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.unit-container ul li {
    padding: 5px;
    border-bottom: solid 1px;
}

.unit-container ul li:last-child {
    border-bottom: none;
}

.boat {
    width: 90%;
}

.barge {
    margin-right: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #F89406;
}

.dragging-workspace .ui-droppable, .dragging-workspace .ui-droppable {
    background: #FFFFE0;
}
.dragging-unit .unit-container, .dragging-barge .unit-container .ui-droppable {
    border: dashed 1px !important;
    margin: 2px;
    background: #FFFFE0;
    border-radius: 5px;
}

.workspace-area h3 .icon-move {
    float: left;
    margin-top: 12px;
}

.icon-move, .barge {
    cursor: move;
}

.ui-layout-pane .panel-content {
    padding: 10px;
}

.ui-layout-pane { /* all 'panes' */
    padding: 10px 0;
}

.comment-form {
    background: #333;
    color: #FFF;
    padding: 15px;
}

#content .workspace-container {
    width: 24%;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
