<!doctype html>
<html ng-app="draggableBoxes" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/layout-default.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="ScenarioController">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Settoon Towing</a>
          <div class="nav-collapse collapse">
            <ul class="nav"  ng-cloak>
              <li class="active"><a href="#">Home</a></li>
              <li class="divider-vertical" ng-show="inControl"></li>
              <li><a href="#" onclick="$('.ui-draggable').draggable('enable');" ng-show="inControl">Enable Drag</a></li>
              <li><a href="#" onclick="$('.ui-draggable').draggable('disable');" ng-show="inControl">Disable Drag</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#" ng-click="takeControl()" ng-hide="inControl">Take Control</a></li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <a href="#" ng-click="resetVersion()">Reset</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="container" ng-cloak>

        <div class="ui-layout-center hidden">
          <div class="panel-content">
            <div id="content">
              <div class="row-fluid">
                <div class="span4 workspace-column" data-drop="true" data-jqyoui-options="{accept:'.workspace-container'}" jqyoui-droppable ng-model="layout.workSpace.workArea1">
                  <div class="workspace-container" ng-repeat="workArea in layout.workSpace.workArea1" data-drag="true"
                    data-object-type="workspace" data-jqyoui-options jqyoui-draggable="{animate:false, index: $index, item: workArea}" ng-model="layout.workSpace.workArea1">
                    <div class="workspace-area">
                      <h4><i class="icon-move icon-white"></i> {{workArea.title}}</h4>
                      <div class="unit-container" data-drop="true" data-jqyoui-options="{accept:'.unit'}" jqyoui-droppable ng-model="workArea.units">
                        <ul>
                          <li ng-repeat="unit in workArea.units" class="unit" data-drag="true" data-jqyoui-options
                          data-object-type="unit" jqyoui-draggable="{animate:false, index: $index}" ng-model="workArea.units">
                            <div class="row-fluid">
                              <div class="span1">
                                <i class="icon-move"></i>
                              </div>
                              <div class="span4 boat-placeholder" data-drop="true" data-jqyoui-options="{accept:'.boat'}" jqyoui-droppable ng-model="unit.boat">
                                <div class="label boat" data-drag="true" data-jqyoui-options data-object-type="boat" jqyoui-draggable="{animate:false}"
                                  ng-model="unit.boat">{{unit.boat.name}}</div>
                              </div>
                              <div class="span7 barge-placeholder" data-drop="true" data-jqyoui-options="{accept:'.barge'}" jqyoui-droppable ng-model="unit.barges">
                                <span class="label barge" ng-repeat="barge in unit.barges" data-drag="true" data-jqyoui-options
                                  data-object-type="barge" jqyoui-draggable="{animate:false, index: $index}" ng-model="unit.barges">{{barge.name}}</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span4 workspace-column" data-drop="true" data-jqyoui-options="{accept:'.workspace-container'}" jqyoui-droppable ng-model="layout.workSpace.workArea2">
                  <div class="workspace-container" ng-repeat="workArea in layout.workSpace.workArea2" data-drag="true"
                    data-object-type="workspace" data-jqyoui-options jqyoui-draggable="{animate:false, index: $index, item: workArea}" ng-model="layout.workSpace.workArea2">
                    <div class="workspace-area">
                      <h4><i class="icon-move icon-white"></i> {{workArea.title}}</h4>
                      <div class="unit-container" data-drop="true" data-jqyoui-options="{accept:'.unit'}" jqyoui-droppable ng-model="workArea.units">
                        <ul>
                          <li ng-repeat="unit in workArea.units" class="unit" data-drag="true" data-jqyoui-options
                          data-object-type="unit" jqyoui-draggable="{animate:false, index: $index}" ng-model="workArea.units">
                            <div class="row-fluid">
                              <div class="span1">
                                <i class="icon-move"></i>
                              </div>
                              <div class="span4 boat-placeholder" data-drop="true" data-jqyoui-options="{accept:'.boat'}" jqyoui-droppable ng-model="unit.boat">
                                <div class="label boat" data-drag="true" data-jqyoui-options data-object-type="boat" jqyoui-draggable="{animate:false}"
                                  ng-model="unit.boat">{{unit.boat.name}}</div>
                              </div>
                              <div class="span7 barge-placeholder" data-drop="true" data-jqyoui-options="{accept:'.barge'}" jqyoui-droppable ng-model="unit.barges">
                                <span class="label barge" ng-repeat="barge in unit.barges" data-drag="true" data-jqyoui-options
                                  data-object-type="barge" jqyoui-draggable="{animate:false, index: $index}" ng-model="unit.barges">{{barge.name}}</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span4 workspace-column" data-drop="true" data-jqyoui-options="{accept:'.workspace-container'}" jqyoui-droppable ng-model="layout.workSpace.workArea3">
                  <div class="workspace-container" ng-repeat="workArea in layout.workSpace.workArea3" data-drag="true"
                    data-object-type="workspace" data-jqyoui-options jqyoui-draggable="{animate:false, index: $index, item: workArea}" ng-model="layout.workSpace.workArea3">
                    <div class="workspace-area">
                      <h4><i class="icon-move icon-white"></i> {{workArea.title}}</h4>
                      <div class="unit-container" data-drop="true" data-jqyoui-options="{accept:'.unit'}" jqyoui-droppable ng-model="workArea.units">
                        <ul>
                          <li ng-repeat="unit in workArea.units" class="unit" data-drag="true" data-jqyoui-options
                          data-object-type="unit" jqyoui-draggable="{animate:false, index: $index}" ng-model="workArea.units">
                            <div class="row-fluid">
                              <div class="span1">
                                <i class="icon-move"></i>
                              </div>
                              <div class="span4 boat-placeholder" data-drop="true" data-jqyoui-options="{accept:'.boat'}" jqyoui-droppable ng-model="unit.boat">
                                <div class="label boat" data-drag="true" data-jqyoui-options data-object-type="boat" jqyoui-draggable="{animate:false}"
                                  ng-model="unit.boat">{{unit.boat.name}}</div>
                              </div>
                              <div class="span7 barge-placeholder" data-drop="true" data-jqyoui-options="{accept:'.barge'}" jqyoui-droppable ng-model="unit.barges">
                                <span class="label barge" ng-repeat="barge in unit.barges" data-drag="true" data-jqyoui-options
                                  data-object-type="barge" jqyoui-draggable="{animate:false, index: $index}" ng-model="unit.barges">{{barge.name}}</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui-layout-west" data-drop="true" data-jqyoui-options="{accept:'.workspace-container'}" jqyoui-droppable ng-model="layout.dock.workAreas">
          <div class="panel-content">
            <div class="row-fluid dock">
              <div class="workspace-container" ng-repeat="workArea in layout.dock.workAreas" data-drag="true" data-jqyoui-options
                data-object-type="workspace" jqyoui-draggable="{animate:false, index: $index}" ng-model="layout.dock.workAreas">
                <div class="workspace-area">
                  <h4><i class="icon-move icon-white"></i> {{workArea.title}}</h4>
                  <div class="unit-container" data-drop="true" data-jqyoui-options="{accept:'.unit'}" jqyoui-droppable ng-model="workArea.units">
                    <ul>
                      <li ng-repeat="unit in workArea.units" class="unit" data-drag="true" data-jqyoui-options
                      data-object-type="unit" jqyoui-draggable="{animate:false, index: $index}" ng-model="workArea.units">
                        <div class="row-fluid">
                          <div class="span1">
                            <i class="icon-move"></i>
                          </div>
                          <div class="span4 boat-placeholder" data-drop="true" data-jqyoui-options="{accept:'.boat'}" jqyoui-droppable ng-model="unit.boat">
                            <div class="label boat" data-drag="true" data-jqyoui-options data-object-type="boat" jqyoui-draggable="{animate:false}"
                              ng-model="unit.boat">{{unit.boat.name}}</div>
                            </div>
                          <div class="span7 barge-placeholder" data-drop="true" data-jqyoui-options="{accept:'.barge'}" jqyoui-droppable ng-model="unit.barges">
                            <span class="label barge" ng-repeat="barge in unit.barges" data-drag="true" data-jqyoui-options
                            data-object-type="barge" jqyoui-draggable="{animate:false, index: $index}" ng-model="unit.barges">{{barge.name}}</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui-layout-east">
          <div class="comment-form">
            <div class="row-fluid">
            <h2>Comments</h2>
            <div class="span12">
              <textarea class="input-block-level" ng-model="commentBox"></textarea>
              <a href="#" class="btn btn-primary pull-right" ng-click="addComment()">Add Comment</a>
              <div class="clearfix"></div>
            </div>
            </div>
          </div>
          <div class="panel-content">
            <div class="row-fluid">
              <div class="span12">
                <div ng-repeat="comment in comments">
                  <span class="badge">{{comment.name}}</span> <small> - 8:35 A.M.</small>
                  <p>{{comment.comment}}</p>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui-layout-south">
          <div class="row-fluid">
            <div class="span6">
              <div class="workspace-container">
                <div class="well">
                <div class="workspace-area boat-dock">
                  <h4>Boats</h4>
                  <div class="span12 boat-placeholder" data-drop="true" data-jqyoui-options="{accept:'.boat'}" jqyoui-droppable ng-model="layout.boats">
                    <span class="label boat" ng-repeat="boat in layout.boats" data-drag="true" data-jqyoui-options
                    data-object-type="boat" jqyoui-draggable="{animate:false, index: $index}" ng-model="layout.boats">{{boat.name}}</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="well">
              <div class="workspace-container">
                <div class="workspace-area">
                  <h4>Barges</h4>
                  <div class="span12 barge-placeholder" data-drop="true" data-jqyoui-options="{accept:'.barge'}" jqyoui-droppable ng-model="layout.barges">
                    <span class="label barge" ng-repeat="barge in layout.barges" data-drag="true" data-jqyoui-options
                    data-object-type="barge" jqyoui-draggable="{animate:false, index: $index}" ng-model="layout.barges">{{barge.name}}</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

    <script src="libs/jquery.ui.touch-punch.min.js"></script>
    <script src="libs/jquery.layout-latest.js"></script>

    <script src="http://settoon-location-events-1.nodejitsu.com/socket.io/socket.io.js"></script>

    <script src="app/app.js"></script>

    <script src="app/controllers.js"></script>
    <script src="app/services.js"></script>
    <script src="app/directives/angular-dragdrop.js"></script>
</html>
